
  <div class="container menu">
    <h2 id="menu" lang="uk" class="menu-caption">МЕНЮ РЕСТОРАНУ </h2>
    <div class="restaurant-position">
      <div class="menu-right">
        <table class="menu-table">
          <caption lang="uk" class="caption special">Гарячі страви</caption>
          <tr class="menu-height">
            <td lang="uk" class="menu-name menu-notop">Борщ з телятини з квасолею </td>
            <td lang="uk" rowspan="2" class="menu-weight">400 г</td>
            <td lang="uk" rowspan="2" class="menu-price">240 грн</td>
        </tr>
        <tr>
          <td lang="uk" class="menu-ingridient">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана </td>
  
      </tr>
      <tr>
        <td lang="uk" class="menu-name">Суп сирний з куркою </td>
        <td lang="uk" rowspan="2" class="menu-weight">400 г</td>
        <td lang="uk" rowspan="2" class="menu-price">200 грн</td>
    </tr>
    <tr>
      <td lang="uk" class="menu-ingridient">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень </td>
  
  </tr>
  <tr>
    <td lang="uk" class="menu-name">Паста карбонара</td>
    <td lang="uk" rowspan="2" class="menu-weight">350 г</td>
    <td lang="uk" rowspan="2" class="menu-price">430 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень </td>
  
  </tr>
  <tr>
  <td lang="uk" class="menu-name">Стейк зі свинини</td>
  <td lang="uk" rowspan="2" class="menu-weight">400 г</td>
  <td lang="uk" rowspan="2" class="menu-price">500 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами </td>
  
  </tr>
  <tr>
  <td lang="uk" class="menu-name">Горбуша в соусі з білого вина</td>
  <td lang="uk" rowspan="2" class="menu-weight">400 г</td>
  <td lang="uk" rowspan="2" class="menu-price">400 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient ">Ніжна горбуша, вершковий соус на основі білого вина </td>
  
  </tr>
        </table>
        <table class="menu-table">
          <caption lang="uk" class="caption">Гарніри та закуски</caption>
          <tr>
            <td lang="uk" class="menu-name menu-notop">Запечені овочі</td>
            <td lang="uk" rowspan="2" class="menu-weight">200 г</td>
            <td lang="uk" rowspan="2" class="menu-price">230 грн</td>
        </tr>
        <tr>
          <td lang="uk" class="menu-ingridient">Кабачок, перець, помідор, баклажан</td>
  
      </tr>
      <tr>
        <td lang="uk" class="menu-name">Картопля фрі </td>
        <td lang="uk" rowspan="2" class="menu-weight">150 г</td>
        <td lang="uk" rowspan="2" class="menu-price">160 грн</td>
    </tr>
    <tr>
      <td lang="uk" class="menu-ingridient"> Картопля, соус томатний</td>
  
  </tr>
  <tr>
    <td lang="uk" class="menu-name">Картопля по-селянськи</td>
    <td lang="uk" rowspan="2" class="menu-weight">150 г</td>
    <td lang="uk" rowspan="2" class="menu-price">160 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient"> Картопля, спеції, соус пікантний</td>
  
  </tr>
  <tr>
    <td lang="uk" class="menu-name">Хрумкі соління з бочки</td>
    <td lang="uk" rowspan="2" class="menu-weight">250 г</td>
    <td lang="uk" rowspan="2" class="menu-price">350 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient">Огірок солений, помідор квашений, квашена капуста, морква по-корейські </td>
  
  </tr>
  <tr>
  <td lang="uk" class="menu-name">Крильця курячі в медовому соусі</td>
  <td lang="uk" rowspan="2" class="menu-weight">400 г</td>
  <td lang="uk" rowspan="2" class="menu-price">420 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient "> Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</td>
  
  </tr>
  
        </table>
      </div>
      <div class="menu-right">
        <table class="menu-table">
          <caption lang="uk" class="caption second">Салати</caption>
          <tr>
            <td lang="uk" class="menu-name menu-notop">Цезар з куркою</td>
            <td lang="uk" rowspan="2" class="menu-weight">230 г</td>
            <td lang="uk" rowspan="2" class="menu-price">450 грн</td>
        </tr>
        <tr>
          <td lang="uk" class="menu-ingridient">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
  
      </tr>
      <tr>
        <td lang="uk" class="menu-name">Цезар з креветками </td>
        <td lang="uk" rowspan="2" class="menu-weight">230 г</td>
        <td lang="uk" rowspan="2" class="menu-price">300 грн</td>
    </tr>
    <tr>
      <td lang="uk" class="menu-ingridient"> Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
  
  </tr>
  <tr>
    <td lang="uk" class="menu-name">Грецький салат</td>
    <td lang="uk" rowspan="2" class="menu-weight">230 г</td>
    <td lang="uk" rowspan="2" class="menu-price">280 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient"> Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
  
  </tr>
  <tr>
    <td lang="uk" class="menu-name">М’ясний салат</td>
    <td lang="uk" rowspan="2" class="menu-weight">230 г</td>
    <td lang="uk" rowspan="2" class="menu-price">300 грн</td>
  </tr>
  <tr>
  <td lang="uk" class="menu-ingridient ">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч </td>
  
  </tr>
        </table>
        <table lang="uk" class="menu-table">
          <caption lang="uk" class="caption">Десерти </caption>
          <tr>
          <td lang="uk" class="menu-name-basic menu-notop">Торт наполеон</td>
          <td lang="uk" class="menu-weight">230 г</td>
          <td lang="uk" class="menu-price">300 грн</td>
        </tr>
        <tr>
          <td lang="uk" class="menu-name-basic ">Торт маковий</td>
          <td lang="uk" class="menu-weight">230 г</td>
          <td lang="uk" class="menu-price">300 грн</td>
        </tr>  <tr>
          <td lang="uk" class="menu-name-basic ">Тірамісу</td>
          <td lang="uk" class="menu-weight">120 г</td>
          <td lang="uk" class="menu-price">260 грн</td>
        </tr>
        </table>
        <table class="menu-table">
          <caption lang="uk" class="caption">Напої</caption>
          <tr>
          <td lang="uk" class="menu-name-basic menu-notop">Чай чорний/зелений</td>
          <td lang="uk" class="menu-weight">500 мл</td>
          <td lang="uk" class="menu-price">100 грн</td>
        </tr>
        <tr>
          <td lang="uk" class="menu-name-basic">Еспресо</td>
          <td lang="uk" class="menu-weight">30 мл</td>
          <td lang="uk" class="menu-price">100 грн</td>
        </tr>  
        <tr>
          <td lang="uk" class="menu-name-basic">Американо</td>
          <td lang="uk" class="menu-weight">150 мл</td>
          <td lang="uk" class="menu-price">100 грн</td>
        </tr>
        <tr>
          <td lang="uk" class="menu-name-basic">Капучино</td>
          <td lang="uk" class="menu-weight">200 мл</td>
          <td lang="uk" class="menu-price">160 грн</td>
        </tr>  
        <tr>
          <td lang="uk" class="menu-name-basic">Лате</td>
          <td lang="uk" class="menu-weight">200 мл</td>
          <td lang="uk" class="menu-price">160 грн</td>
        </tr>
        </table>
      </div>
    </div>
  <button type="button" lang="uk" class="menu-button button-black js-open-modal " data-modal="1" >Забронювати столик</button>
  </div>


