<!-- <div class="hotel-details-max"> -->
<div class="container-services">
  <div class="container">  
    <div class="hotel-text-content">
      <h3 class="label">MIMIH<span class="hotel-letter">O</span></h3>
      <h2 class="hotel-text">Готель</h2>
      <p class="description-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <!-- Slider + block buttons anower pages-->
    <div class="hotel-nav-slider-max">

      <!-- Slider overflow -->
      <div class="hotel-slider-max">

        <!-- Slider + button-nav-->
        <div class="hotel-slider-img">

          <!-- List images -->
          <ul class="service-img-list">

            <!-- Image1 -->
            <li>
              <div>
                <picture>
                  <source srcset="./images/about-hotel/dooh-slider-03-desktop.jpg 1x, ./images/about-hotel/dooh-slider-03-desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" 
                    width="270"
                    height="270"/>
                  <source srcset="./images/about-hotel/dooh-slider-03-tablet.jpg 1x, ./images/about-hotel/dooh-slider-03-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)" 
                    width="270"
                    height="270"/>
                  <source srcset="./images/about-hotel/dooh-slider-03-mobile.jpg 1x, ./images/about-hotel/dooh-slider-03-mobile@2x.jpg 2x"
                    media="(max-width: 1023px)" 
                    width="274"
                    height="270"/>
                
                  <img
                    class="hotel-img-max" 
                    src="./images/about-hotel/dooh-slider-01-mobile.jpg"
                    alt="Slider image-01"/>
                </picture>
              </div>
            </li>

            <!-- Image2 -->
            <li>
              <div>
                <picture>
                    <source srcset="./images/about-hotel/dooh-slider-02-desktop.jpg 1x, ./images/about-hotel/dooh-slider-02-desktop@2x.jpg 2x"
                      media="(min-width: 1280px)" 
                      width="162"
                      height="270"/>
                    <source srcset="./images/about-hotel/dooh-slider-02-tablet.jpg 1x, ./images/about-hotel/dooh-slider-02-tablet@2x.jpg 2x"
                      media="(min-width: 1024px)" 
                      width="162"
                      height="270"/>
                    <source srcset="./images/about-hotel/dooh-slider-02-mobile.jpg 1x, ./images/about-hotel/dooh-slider-02-mobile@2x.jpg 2x"
                      media="(max-width: 1023px)" 
                      width="162"
                      height="270"/>

                    <img 
                      class="hotel-img-max" 
                      src="./images/about-hotel/dooh-slider-02-mobile.jpg" 
                      alt="Slider image-02">
                </picture>
              </div>
            </li>

            <!-- Image3 -->
            <li>
              <div>
                <picture>
                  <source srcset="./images/about-hotel/dooh-slider-01-desktop.jpg 1x, ./images/about-hotel/dooh-slider-01-desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" 
                    width="270"
                    height="270"/>
                  <source srcset="./images/about-hotel/dooh-slider-01-tablet.jpg 1x, ./images/about-hotel/dooh-slider-01-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)" 
                    width="270"
                    height="270"/>
                  <source srcset="./images/about-hotel/dooh-slider-01-mobile.jpg 1x, ./images/about-hotel/dooh-slider-01-mobile@2x.jpg 2x"
                    media="(max-width: 1023px)" 
                    width="274"
                    height="270"/>
                
                  <img 
                    class="hotel-img-max" 
                    src="./images/about-hotel/dooh-slider-03-mobile.jpg" 
                    alt="Slider image-03">
                </picture>
              </div>
            </li>

          </ul>

          <!-- Navigate slider -->
          <ul class="hotel-btn-slider">
            <li class="slider-pointer">
              <svg class="icon-left" width="32" height="32">
                <use href="./images/sprite.svg#arrow-left"></use>
              </svg>
            </li>
            <li class="slider-pointer">
              <svg class="icon-right" width="32" height="32">
                <use href="./images/sprite.svg#arrow-right"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>

      <!-- Buttons -->
      <div class="service-btn">
        <button 
          type="button" 
          class="button-black js-open-modal" 
          data-modal="2">
          Забронювати номер
        </button>
        <a class="button-black" 
          href="./hotel.html">
          Переглянути ціни
        </a>
      </div>      
    </div>
  </div>
</div>
<!-- </div> -->