<div class="container-services">
    <h2 class="label">MIMIHO</h2>
    <ul class="description">
      <li class="description_about">
        <h3 class="hotel">Готель</h3>
        <p class="description-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>

    <ul class="service-img">
      <li class="hotel-img">
        <img
          class="img1"
          srcset="../images/frame25@1mob.jpg 1x,  ../images/frame25@2mob.jpg 2x"
          src="../images/frame25@1mob.jpg"
          alt="Сніданок"
          width="80"
          height="270"
        />
      </li>
      <li class="hotel-img">
        <img
          class="img2"
          srcset="../images/frame21@1mob.jpg 1x,  ../images/frame21@2mob.jpg 2x"
          src="../images/frame21@1mob.jpg"
          alt="Ліжко"
          width="274"
          height="270"
        />
      </li>
    </ul>
    <ul class="service-img-tab">
      <li class="hotel-img">
        <img
          class="img1"
          srcset="../images/frame26@1tab.jpg 1x,  ../images/frame26@2tab.jpg 2x"
          src="../images/frame26@1tab.jpg"
          alt="Рецепція"
          width="162"
        />
      </li>
      <li class="hotel-img">
        <img
          class="img2"
          srcset="../images/frame 25@1pc.jpg 1x,  ../images/frame25@2pc.jpg 2x"
          src="../images/frame25@1pc.jpg"
          alt="Сніданок"
          width="162"
        />
      </li>
      <li class="hotel-img">
        <img
          class="img3"
          srcset="../images/frame 21@1mob.jpg 1x,  ../images/frame21@2mob.jpg 2x"
          src="../images/frame21@1mob.jpg"
          alt="Ліжко"
          width="270"
        />
      </li>
      <ul class="service-btn">
        <li>
          <button type="button" class="button-big-pointed" data-modal-open>
            Забронювати номер
          </button>
        </li>
        <li>
          <button type="button" class="button-big-pointed"><a href="#">
          Переглянути ціни </a>
          </button>
        </li>
      </ul>
    </ul>
    <ul class="service-img-pc">
      <li class="hotel-img">
        <img
          class="img1"
          srcset="../images/frame21@1pc.jpg 1x,  ../images/frame21@2pc.jpg 2x"
          src="../images/frame21@1pc.jpg"
          alt="Ліжко"
          width="270"
        />
      </li>
      <li class="hotel-img">
        <img
          class="img2"
          srcset="../images/frame 25@1pc.jpg 1x,  ../images/frame25@2pc.jpg 2x"
          src="../images/frame25@1pc.jpg"
          alt="Сніданок"
          width="162"
        />
      </li>
      <li class="hotel-img">
        <img
          class="img3"
          srcset="../images/frame26@1pc.jpg 1x,  ../images/frame 26@2pc.jpg 2x"
          src="../images/frame26@1pc.jpg"
          alt="Рецепція"
          width="270"
        />
      </li>
      <ul class="service-btn">
        <li>
          <button type="button" class="button-big-pointed" data-modal-open>
            Забронювати номер
          </button>
        </li>
        <li>
          <button type="button" class="button-big-pointed"><a href="#">
          Переглянути ціни </a>
          </button>
        </li>
      </ul>
    </ul>

    <ul class="slider">
      <li class="slider-pointer">
        <svg class="icon-left" width="32" height="32">
          <use href="../images/sprite.svg#arrow-left"></use>
        </svg>
      </li>
      <li class="slider-pointer">
        <svg class="icon-right" width="32" height="32">
          <use href="../images/sprite.svg#arrow-right"></use>
        </svg>
      </li>
    </ul>

    <ul class="service-btn-mob">
      <li>
        <button type="button" class="button-big-pointed" data-modal-open>
          Забронювати номер
        </button>
      </li>
      <li>
        <button type="button" class="button-big-pointed"><a href="#">
          Переглянути ціни </a>
        </button>
      </li>
    </ul>
  </div>
