<div class="container-maks">
  <div class="restaurant-first-box">
    <div>
      <picture>
        <source
          srcset="
            ./images/about-img/mobile-hotel/hotel-main-room-244x322@2x.jpg 1x,
            ./images/about-img/mobile-hotel/hotel-main-room-244x322@2x.jpg 2x
          "
          media="(max-width:1023px)"
          width="244"
        />

        <source
          srcset="
            ./images/about-img/tablet-hotel/hotel-main-room-400x524.jpg    1x,
            ./images/about-img/tablet-hotel/hotel-main-room-400x524@2x.jpg 2x
          "
          media="(min-width:1024px) and (max-width:1279px)"
          width="400"
        />

        <source
          srcset="
            ./images/about-img/desktop-hotel/hotel-main-room-460x574.jpg    1x,
            ./images/about-img/desktop-hotel/hotel-main-room-460x574@2x.jpg 2x
          "
          media="(min-width:1280px)"
          width="460"
        />

        <img
          class="restaurant-img-first"
          src="./images/about-img/desktop-hotel/hotel-main-room-460x574.jpg"
          alt="hotel"
        />
      </picture>
    </div>
    <div>
      <h2>Amet minim mollit non</h2>
      <h3>MIMIHO</h3>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
  <div class="restaurant-second-box">
    <div></div>
    <picture>
      <source
        srcset="
          ./images/about-img/mobile-hotel/hotel-lobby-200x278.jpg    1x,
          ./images/about-img/mobile-hotel/hotel-lobby-200x278@2x.jpg 2x
        "
        media="(max-width:1023px)"
        width="200"
      />

      <source
        srcset="
          ./images/about-img/tablet-hotel/hotel-lobby-350x500.jpg    1x,
          ./images/about-img/tablet-hotel/hotel-lobby-350x500@2x.jpg 2x
        "
        media="(min-width:1024px) and (max-width:1279px)"
        width="350"
      />

      <source
        srcset="
          ./images/about-img/desktop-hotel/hotel-lobby-460x574.jpg    1x,
          ./images/about-img/desktop-hotel/hotel-lobby-460x574@2x.jpg 2x
        "
        media="(min-width:1280px)"
        width="460"
      />

      <img
        src="/images/about-img/mobile-hotel/hotel-lobby-200x278.jpg"
        alt="hotel"
      />
    </picture>

    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div dir="rtl" class="swiper-maks">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/about-img/mobile-hotel/hotel-reception-245x245.jpg    1x,
              ./images/about-img/mobile-hotel/hotel-reception-245x245@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/about-img/tablet-hotel/hotel-reception-194x194.jpg    1x,
              ./images/about-img/tablet-hotel/hotel-reception-194x194@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/about-img/desktop-hotel/hotel-reception-254x254.jpg    1x,
              ./images/about-img/desktop-hotel/hotel-reception-254x254@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/about-img/desktop-hotel/hotel-reception-254x254.jpg"
            alt="slider-1"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/about-img/desktop-hotel/hotel-towels-254x254.jpg    1x,
              ./images/about-img/desktop-hotel/hotel-towels-254x254@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/about-img/desktop-hotel/hotel-towels-254x254.jpg    1x,
              ./images/about-img/desktop-hotel/hotel-towels-254x254@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/about-img/desktop-hotel/hotel-towels-254x254.jpg    1x,
              ./images/about-img/desktop-hotel/hotel-towels-254x254@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/about-img/desktop-hotel/hotel-towels-254x254.jpg"
            width="245"
            alt="slider-2"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/1-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/1-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/1-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/1-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/1-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/1-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/1-slider-desktop.jpg"
            alt="slider-3"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/2-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/2-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/2-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/2-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/2-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/2-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/2-slider-desktop.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/3-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/3-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/3-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/3-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/3-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/3-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/3-slider-desktop.jpg"
            alt="slider-4"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/4-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/4-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/4-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/4-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/4-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/4-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/4-slider-desktop.jpg"
            alt="slider-5"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/5-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/5-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/5-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/5-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/5-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/5-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/5-slider-desktop.jpg"
            alt="slider-6"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/10-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/10-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/10-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/10-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/10-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/10-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/10-slider-desktop.jpg"
            alt="slider-7"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/11-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/11-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/11-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/11-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/11-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/11-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/11-slider-desktop.jpg"
            alt="slider-8"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/12-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/12-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/12-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/12-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/12-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/12-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/12-slider-desktop.jpg"
            alt="slider-9"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/13-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/13-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/13-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/13-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/13-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/13-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/13-slider-desktop.jpg"
            alt="slider-10"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/sliders-img/foto-mobile/14-slider-mobile.jpg    1x,
              ./images/sliders-img/foto-mobile/14-slider-mobile@2x.jpg 2x
            "
            media="(max-width:1023px)"
            width="245"
          />

          <source
            srcset="
              ./images/sliders-img/foto-tablet/14-slider-tablet.jpg    1x,
              ./images/sliders-img/foto-tablet/14-slider-tablet@2x.jpg 2x
            "
            media="(min-width:1024px) and (max-width:1279px)"
            width="194"
          />

          <source
            srcset="
              ./images/sliders-img/foto-desktop/14-slider-desktop.jpg    1x,
              ./images/sliders-img/foto-desktop/14-slider-desktop@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="254"
          />

          <img
            src="./images/sliders-img/foto-desktop/14-slider-desktop.jpg"
            alt="slider-11"
          />
        </picture>
      </div>
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-btn-position" role="group">
      <div class="swiper-button-prev left-btn-swiper">
        <svg class="svg-arrows">
          <use href="./images/arrows.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next right-btn-swiper">
        <svg class="svg-arrows">
          <use href="./images/arrows.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</div>
