<div class="container-maks">
  <div class="restaurant-first-box">
    <div
      data-aos="fade-right"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <h2>Amet minim mollit non</h2>
      <h3>MIMIHO</h3>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div
      class="picture-width-animation"
      data-aos="fade-left"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <picture>
        <source
          srcset="
            ./images/about-img/mobile-restaurant/restourant-main-244x322.jpg    1x,
            ./images/about-img/mobile-restaurant/restourant-main-244x322@2x.jpg 2x
          "
          media="(max-width:1023px)"
          width="244"
          height="322"
        />

        <source
          srcset="
            ./images/about-img/tablet-restaurant/restourant-main-400x524.jpg    1x,
            ./images/about-img/tablet-restaurant/restourant-main-400x524@2x.jpg 2x
          "
          media="(min-width:1024px) and (max-width:1279px)"
          width="400"
        />

        <source
          srcset="
            ./images/about-img/desktop-restaurant/restourant-main-460x574.jpg    1x,
            ./images/about-img/desktop-restaurant/restourant-main-460x574@2x.jpg 2x
          "
          media="(min-width:1280px)"
          width="460"
        />

        <img
          class="restaurant-img-first"
          src="./images/about-img/desktop-restaurant/restourant-main-460x574.jpg"
          alt="restaurant"
        />
      </picture>
    </div>
  </div>
  <div class="restaurant-second-box">
    <picture
      data-aos="fade-right"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <source
        srcset="
          ./images/about-img/mobile-restaurant/restourant-hall-200x278.jpg    1x,
          ./images/about-img/mobile-restaurant/restourant-hall-200x278@2x.jpg 2x
        "
        media="(max-width:1023px)"
        width="200"
      />

      <source
        srcset="
          ./images/about-img/tablet-restaurant/restourant-hall-350x500.jpg    1x,
          ./images/about-img/tablet-restaurant/restourant-hall-350x500@2x.jpg 2x
        "
        media="(min-width:1024px) and (max-width:1279px)"
        width="350"
      />

      <source
        srcset="
          ./images/about-img/desktop-restaurant/restourant-hall-460x574.jpg    1x,
          ./images/about-img/desktop-restaurant/restourant-hall-460x574@2x.jpg 2x
        "
        media="(min-width:1280px)"
        width="460"
      />

      <img
        src="./images/about-img/desktop-restaurant/restourant-hall-460x574.jpg"
        alt="restaurant"
      />
    </picture>

    <p
      data-aos="fade-left"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div
    data-aos="fade-down"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <div class="swiper-maks">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/about-img/mobile-restaurant/restourant-table-245x245.jpg    1x,
                ./images/about-img/mobile-restaurant/restourant-table-245x245@2x.jpg 2x
              "
              media="(max-width:1023px)"
              width="245"
            />

            <source
              srcset="
                ./images/about-img/tablet-restaurant/restourant-table-194x194.jpg    1x,
                ./images/about-img/tablet-restaurant/restourant-table-194x194@2x.jpg 2x
              "
              media="(min-width:1024px) and (max-width:1279px)"
              width="194"
            />

            <source
              srcset="
                ./images/about-img/desktop-restaurant/restourant-table-254x254.jpg    1x,
                ./images/about-img/desktop-restaurant/restourant-table-254x254@2x.jpg 2x
              "
              media="(min-width:1280px)"
              width="254"
            />

            <img
              src="./images/about-img/desktop-restaurant/restourant-table-254x254.jpg"
              alt="slider-1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/about-img/mobile-restaurant/restourant-chair-245x245.jpg    1x,
                ./images/about-img/mobile-restaurant/restourant-chair-245x245@2x.jpg 2x
              "
              media="(max-width:1023px)"
              width="245"
            />

            <source
              srcset="
                ./images/about-img/tablet-restaurant/restourant-chair-194x194.jpg    1x,
                ./images/about-img/tablet-restaurant/restourant-chair-194x194@2x.jpg 2x
              "
              media="(min-width:1024px) and (max-width:1279px)"
              width="194"
            />

            <source
              srcset="
                ./images/about-img/desktop-restaurant/restourant-chair-254x254.jpg    1x,
                ./images/about-img/desktop-restaurant/restourant-chair-254x254@2x.jpg 2x
              "
              media="(min-width:1280px)"
              width="254"
            />

            <img
              src="./images/about-img/desktop-restaurant/restourant-chair-254x254.jpg"
              width="245"
              alt="slider-2"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/sliders-img/foto-mobile/7-slider-mobile.jpg    1x,
                ./images/sliders-img/foto-mobile/7-slider-mobile@2x.jpg 2x
              "
              media="(max-width:1023px)"
              width="245"
            />

            <source
              srcset="
                ./images/sliders-img/foto-tablet/7-slider-tablet.jpg    1x,
                ./images/sliders-img/foto-tablet/7-slider-tablet@2x.jpg 2x
              "
              media="(min-width:1024px) and (max-width:1279px)"
              width="194"
            />

            <source
              srcset="
                ./images/sliders-img/foto-desktop/7-slider-desktop.jpg    1x,
                ./images/sliders-img/foto-desktop/7-slider-desktop@2x.jpg 2x
              "
              media="(min-width:1280px)"
              width="254"
            />

            <img
              src="./images/sliders-img/foto-desktop/7-slider-desktop.jpg"
              alt="slider-3"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/sliders-img/foto-mobile/15-slider-mobile.jpg    1x,
                ./images/sliders-img/foto-mobile/15-slider-mobile@2x.jpg 2x
              "
              media="(max-width:1023px)"
              width="245"
            />

            <source
              srcset="
                ./images/sliders-img/foto-tablet/15-slider-tablet.jpg    1x,
                ./images/sliders-img/foto-tablet/15-slider-tablet@2x.jpg 2x
              "
              media="(min-width:1024px) and (max-width:1279px)"
              width="194"
            />

            <source
              srcset="
                ./images/sliders-img/foto-desktop/15-slider-desktop.jpg    1x,
                ./images/sliders-img/foto-desktop/15-slider-desktop@2x.jpg 2x
              "
              media="(min-width:1280px)"
              width="254"
            />

            <img
              src="./images/sliders-img/foto-desktop/15-slider-desktop.jpg"
              alt="slider-4"
            />
          </picture>
        </div>
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <div class="swiper-btn-position" role="group">
        <div class="swiper-button-prev left-btn-swiper">
          <svg class="svg-arrows">
            <use href="./images/arrows.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next right-btn-swiper">
          <svg class="svg-arrows">
            <use href="./images/arrows.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</div>
