<div class="section door">
    <div class="container">
        <!-- Text -->
        <div class="door-block-text">
            <h3 class="door-sub-title">MIMIHO</h3>
            <h2 class="door-title" lang="uk">Ресторан</h2>
            <p class="door-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit.</p>
        </div>

        <!-- Slider images -->
        <div class="door-nav-slider">
            <div class="door-slider">
                <ul class="door-slider-list">

                    <!-- Image 1 -->
                    <li>
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./images/door/door-slider-01-desktop.jpg 1x, ./images/door/door-slider-01-desktop@2x.jpg 2x">
                            <source media="(mіn-width: 1024px)"
                                srcset="./images/door/door-slider-01-tablet.jpg 1x, ./images/door/door-slider-01-tablet@2x.jpg 2x">
                            <source media="(max-width: 1023px)"
                                srcset="./images/door/door-slider-01-mobile.jpg 1x, ./images/door/door-slider-01-mobile@2x.jpg 2x">

                            <img class="door-img" src="./images/door/door-slider-01-mobile.jpg"
                                alt="Slider image-01 for mobile">
                        </picture>
                    </li>

                    <!-- Image 2 -->
                    <li>
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./images/door/door-slider-02-desktop.jpg 1x, ./images/door/door-slider-02-desktop@2x.jpg 2x">
                            <source media="(mіn-width: 1024px)"
                                srcset="./images/door/door-slider-02-tablet.jpg 1x, ./images/door/door-slider-02-tablet@2x.jpg 2x">
                            <source media="(max-width: 1023px)"
                                srcset="./images/door/door-slider-01-mobile.jpg 1x, ./images/door/door-slider-01-mobile@2x.jpg 2x">

                            <img class="door-img" src="./images/door/door-slider-01-mobile.jpg"
                                alt="Slider image-02 for mobile">
                        </picture>
                    </li>

                    <!-- Image 3 -->
                    <li>
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./images/door/door-slider-03-desktop.jpg 1x, ./images/door/door-slider-03-desktop@2x.jpg 2x">
                            <source media="(mіn-width: 1024px)"
                                srcset="./images/door/door-slider-03-tablet.jpg 1x, ./images/door/door-slider-03-tablet@2x.jpg 2x">
                            <source media="(max-width: 1023px)"
                                srcset="./images/door/door-slider-01-mobile.jpg 1x, ./images/door/door-slider-01-mobile@2x.jpg 2x">
                            <img class="door-img" src="./images/door/door-slider-01-mobile.jpg"
                                alt="Slider image-03 for mobile">
                        </picture>
                    </li>

                    <!-- Image 4 -->
                    <li>
                        <picture>
                            <source media="(min-width: 1280px)"
                                srcset="./images/door/door-slider-03-desktop.jpg 1x, ./images/door/door-slider-03-desktop@2x.jpg 2x">
                            <source media="(mіn-width: 1024px)"
                                srcset="./images/door/door-slider-03-tablet.jpg 1x, ./images/door/door-slider-03-tablet@2x.jpg 2x">
                            <source media="(max-width: 1023px)"
                                srcset="./images/door/door-slider-01-mobile.jpg 1x, ./images/door/door-slider-01-mobile@2x.jpg 2x">
                            <img class="door-img" src="./images/door/door-slider-01-mobile.jpg"
                                alt="Slider image-03 for mobile">
                        </picture>
                    </li>
                </ul>

                <!-- Navigate slider -->
                <button class="door-btn-prev" type="button">
                    <svg class="door-icon" width="32" height="32">
                        <use href="./images/door/sprite-arrow-slider.svg#icon-arrow-prev"></use>
                    </svg>
                </button>
                <button class="door-btn-next" type="button">
                    <svg class="door-icon" width="32" height="32">
                        <use href="./images/door/sprite-arrow-slider.svg#icon-arrow-next"></use>
                    </svg>
                </button>
            </div>

            <!-- Buttons -->
            <div class="door-buttons">
                <!-- Book Table -->
                <button class="button-black door-book-table" type="button" lang="uk">Забронювати столик</button>

                <!-- Open menu -->
                <a class="button-black" href="./restaurant.html#menu" lang="uk">
                    Переглянути меню
                </a>
            </div>
        </div>
    </div>
</div>