


<div class="header">
  <div class="header-wrapper container">
    <!-- логотип хедеру в контейнері -->
    <div class="header-logo-wrapper-for-flex">
      <div class="header-logo-wrapper">
        <a class="header-logo" href="./index.html">MIMIH<span class="last-letter-o">O</span> </a>
      </div>
      <!-- навігація -->
      <nav class="header-navigation">
        <ul class="header-navigation-list">
           <!-- ресторан -->
          <li class="header-navigation-item">
            <a href="./restaurant.html" class="header-navigation-link" lang="uk" > <span class="restaurant-word">Ресторан</span></a>
          </li>
          <!-- номер ресторану і свг-картинка -->
          <li class="header-navigation-item">
            <div class="wraper-icon-mob-tel" >
              <a href="tel:0955559533" class=""> <span class="header-mob-number">095 555 95 33</span> 
                  <svg class="mobile-phone-icon-first"  width="24" height="24">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
              </a>
            </div>
          </li>
          <!-- готель  -->
          <li class="header-navigation-item">
            <a href="./hotel.html" class="header-navigation-link" lang="uk"> <span class="hotel-word" >Готель</span></a>
          </li>
           <!-- номер готелю і свг-картинка -->
          <li class="header-navigation-item">
            <div class="wraper-icon-mob-tel" >
              <a href="tel:0668491089" class="header-navigation-tel"> <span class="header-mob-number">066 849 10 89</span> 
                <svg class="mobile-phone-icon-second" width="24" height="24">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
               </a>
            </div>
           </li>
        </ul>
      </nav>
    </div>
    <!-- іконки для соціальних мереж -->
    <div class="wrapper-for-social-icons">
      <ul class="header-social-link">
        <li class="header-social-item">
          <!-- інстаграм -->
          <a href="https://www.instagram.com/" target="_blank" >
              <svg class="header-social-icon"  width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
          </a>
        </li>
        <li class="header-social-item">
          <!-- фейсбук -->
          <a href="https://www.facebook.com/" target="_blank" >
              <svg class="header-social-icon"  width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
          </a>
        </li>
        <li class="header-social-item">
          <!-- телеграм -->
          <a href="https://web.telegram.org/k/" target="_blank" >
            <svg class="header-social-icon"  width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
         </li>
      </ul>

    </div>
  </div>
</div>
  