

<div class="roomd container">
    <div class="roomd-amenities">
        <h2 lang="uk" class="roomd-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
        <p class="roomd-amenities-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="roomd-description">
        <div class="roomd-first">
            <ul>
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">ЗАГАЛЬНІ</h3>
                    <div class="roomd-text-flex">
                        <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>  
                    </div>  
                </li>
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">ВАННА КІМНАТА</h3>
                    <div class="roomd-text-flex">
                        <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>    
                </li>
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">СПАЛЬНЯ</h3>
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </li>
                <li class="roomd-item"> 
                    <h3 lang="uk" class="roomd-subtitle">КУХНЯ</h3>
                    <div class="roomd-text-flex">
                        <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                        <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                    </div>
                </li>
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">МЕДІА</h3>
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit.</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="roomd-btn-link">
        <button class="button-big js-open-modal" lang="uk" data-modal="2">ОФОРМИТИ БРОНЮВАННЯ</button>
        <a href="./hotel.html" lang="uk" class="roomd-link">Повернутися до перегляду номерів
            <svg width="24px" height="24px" class="roomd-icon">
                <use href="./images/icons.svg#icon-next"></use>
            </svg>
        </a>
    </div>
    <script src="../js/modal-windows.js"></script>
</div>
