<!--Room-hero--->
<div class="section room-2lx-hero">
  
  <div class="container">
    
    <!-- Слайдер -->
    <div class="swiper1">
      <div class="back"></div>
      <!-- Content page -->
      <div class="room-2lx-hero-container">
        <!-- Address in top-right for < 1023px -->
        <div class="room-2lx-hero-address-top">
          <!-- Address -->
          <address class="room-2lx-hero-address">
            <a
              class="room-2lx-hero-link-map"
              href="https://goo.gl/maps/Grp7XXtRsGtsApyo6"
              rel="noreferrer nofollow noopener"
              lang="uk"
            >
              <svg class="room-2lx-hero-icon-map">
                <use href="./images/room-2lx-hero/icons.svg#icon-map"></use>
              </svg>
              Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15
            </a>
          </address>
        </div>

        <div class="room-2lx-hero-content">
          <!-- Text -->
          <div class="room-2lx-hero-text-content">
            <h1 class="room-2lx-hero-title" lang="uk">
              двомісний номер <span class="room-2lx-hero-lux">люкс</span>
            </h1>
            <p class="room-2lx-hero-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>

        <!-- Button -->
        <div class="room-2lx-hero-btn">
          <button
            class="button-transparent js-open-modal"
            data-modal="3"
            type="button"
            lang="uk"
          >
            Переглянути ціни
          </button>
        </div>

        <!-- Navigate slider -->
        <button class="room-arrow-prev" type="button">
          <svg class="room-arrow-icon" width="40" height="40">
            <use href="./images/room-2lx-hero/icons.svg#icon-arrow-prev"></use>
          </svg>
        </button>
        <!-- swiper-pagination-bullet -->
        <button class="room-arrow-next" type="button">
          <svg class="room-arrow-icon" width="40" height="40">
            <use href="./images/room-2lx-hero/icons.svg#icon-arrow-next"></use>
          </svg>
        </button>

        <!-- Social icons/links -->
        <ul class="room-2lx-hero-social-link">
          <li class="room-2lx-hero-social-item">
            <a href="https://www.instagram.com/" rel="noopener noreferrer">
              <svg class="room-2lx-hero-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="room-2lx-hero-social-item">
            <a href="https://www.facebook.com/" rel="noopener noreferrer">
              <svg class="room-2lx-hero-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="room-2lx-hero-social-item">
            <a href="https://web.telegram.org/k/" rel="noopener noreferrer">
              <svg class="room-2lx-hero-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/room-2lx-hero/hero-room1-desc-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room1-desc-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/room-2lx-hero/hero-room1-tab-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room1-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/room-2lx-hero/hero-room1-mob-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room1-mob-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              class="room-2lx-hero-picture"
              src="./images/room-2lx-hero/hero-room1-mob-1x.jpg"
              loading="lazy"
              alt="room-picture"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/room-2lx-hero/hero-room2-desc-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room2-desc-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/room-2lx-hero/hero-room2-tab-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room2-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/room-2lx-hero/hero-room2-mob-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room2-mob-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              class="room-2lx-hero-picture"
              src="./images/room-2lx-hero/hero-room2-mob-1x.jpg"
              loading="lazy"
              alt="room-picture"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/room-2lx-hero/hero-room3-desc-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room3-desc-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/room-2lx-hero/hero-room3-tab-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room3-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/room-2lx-hero/hero-room3-mob-1x.jpg 1x,
                ./images/room-2lx-hero/hero-room3-mob-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              class="room-2lx-hero-picture"
              src="./images/room-2lx-hero/hero-room3-mob-1x.jpg"
              loading="lazy"
              alt="room-picture"
            />
          </picture>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev swiper-pagination-bullet"></div>
				<div class="swiper-button-next swiper-pagination-bullet"></div> -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</div>
