<div class="container roomd">
    <h2 lang="uk" class="roomd-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <div class="roomd-description">
        <div class="roomd-first">
            <ul class="roomd-list">
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">ЗАГАЛЬНІ</h3>
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </li>
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">ВАННА КІМНАТА</h3>
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </li>
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">СПАЛЬНЯ</h3>
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </li>
                <li class="roomd-item"> 
                    <h3 lang="uk" class="roomd-subtitle">КУХНЯ</h3>
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </li>
                <li class="roomd-item">
                    <h3 lang="uk" class="roomd-subtitle">МЕДІА</h3>
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit.</p>
                </li>
            </ul>
        </div>

        <div class="roomd-second">
            <ul class="roomd-list">
                <li class="roomd-item">
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit. </p>
                </li>
                <li class="roomd-item">
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </li>
                <li class="roomd-item">
                    <p class="roomd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </li>
            </ul>
        </div>
    </div>

    <button class="button-big">ОФОРМИТИ БРОНЮВАННЯ</button>
    <div>
        <a href="" lang="uk" class="roomd-link">Повернутися до перегляду номерів
            <svg width="24px" height="24px">
                <use href="./images/icons.svg#icon-roomd-arrow-right"></use>
            </svg>
        </a>
    </div>
</div>
