<div class="rooms-container container">
        <div class="rooms-desktop-discription">
            <p class="rooms__text">Amet minim mollit non</p>
            <h1 class="rooms__logo">MIMIHO</h1>
            <h2 class="rooms__title" lang="uk">ДВОМІСНИЙ НОМЕР люкс</h2>
            <p class="rooms__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <picture class="rooms__picture">
          <source 
            srcset="/images/hotel-page_rooms/desktop_460.jpg 1x, /images/hotel-page_rooms/desktop_460@2x.jpg 2x"
            media="(min-width: 1280px)">
            <source 
            srcset="/images/hotel-page_rooms/tablet_400.jpg 1x, /images/hotel-page_rooms/tablet_400@2x.jpg 2x"
            media="(min-width: 1024px)">
            <source 
            srcset="/images/hotel-page_rooms/mobile_244.jpg 1x, /images/hotel-page_rooms/mobile_244@2x.jpg 2x"
            media="(max-width: 1023px)">
            <img class="rooms__img" src="/images/hotel-page_rooms/mobile_244.jpg" alt="">
        </picture>
            <div dir="rtl" class="rooms-foto swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet1_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet1_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                srcset="/images/hotel-page_rooms/desktop_1_254.jpg 1x, /images/hotel-page_rooms/desktop_1_254@2x.jpg 2x"
                                media="(min-width: 1280px)">
                                <img class="slide__img" src="/images/hotel-page_rooms/desktop_1_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet2_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet2_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                srcset="/images/hotel-page_rooms/desktop_2_254.jpg 1x, /images/hotel-page_rooms/desktop_2_254@2x.jpg 2x"
                                media="(min-width: 1280px)">
                                <img class="slide__img" src="/images/hotel-page_rooms/desktop_2_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet3_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet3_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                  srcset="/images/hotel-page_rooms/desktop_3_254.jpg 1x, /images/hotel-page_rooms/desktop_3_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_3_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet4_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet4_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                  srcset="/images/hotel-page_rooms/desktop_4_254.jpg 1x, /images/hotel-page_rooms/desktop_4_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_4_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                  <source 
                                  srcset="/images/hotel-page_rooms/mobile_tablet5_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet5_194@2x.jpg 2x"
                                  media="(max-width: 1279px)">
                                  <source 
                                  srcset="/images/hotel-page_rooms/desktop_5_254.jpg 1x, /images/hotel-page_rooms/desktop_5_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_5_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                  <source 
                                  srcset="/images/hotel-page_rooms/mobile_tablet6_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet6_194@2x.jpg 2x"
                                  media="(max-width: 1279px)">
                                  <source 
                                  srcset="/images/hotel-page_rooms/desktop_6_254.jpg 1x, /images/hotel-page_rooms/desktop_6_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_6_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                </div>
                <div dir="ltr" class="arrow">
                    <a href="" class="arrow-prev">
                       <svg class="icon-arrow" width="30" height="17">
                            <use href="/images/icons.svg#icon-prev"></use>
                        </svg>
                    </a>
                   <a href="" class="arrow-next">
                        <svg class="icon-arrow" width="30" height="17">
                            <use href="/images/icons.svg#icon-next"></use>
                        </svg>
                   </a>
                </div>
                <!-- <div class="swiper-scrollbar"></div> -->
                <div class="rooms-button rooms-button-desktop">
                    <a href="./room2lx.html" class="rooms-button__style  button-black" lang="uk">Детальніше</a>
                    <button type="button" class="rooms-button__style button-black js-open-modal" data-modal="3" lang="uk">Переглянути ціни</button>
                </div>
            </div>   
</div>
<section class="section-rooms">
    <div class="rooms-container-right container">
           <div class="rooms-desktop-discription-right">
                <div class="text-wrapper">
                    <p class="rooms__text">Amet minim mollit non</p>
                    <h2 class="rooms__logo">MIMIHO</h2>
                    <h2 class="rooms__title rooms__title-right" lang="uk">ТРЬОХМІСНИЙ НОМЕР</h2>
                    <p class="rooms__description description-right">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
    </div>
          <picture class="rooms__picture-right">
            <source 
              srcset="/images/hotel-page_rooms/desktop_460.jpg 1x, /images/hotel-page_rooms/desktop_460@2x.jpg 2x"
              media="(min-width: 1280px)">
              <source 
              srcset="/images/hotel-page_rooms/tablet_400.jpg 1x, /images/hotel-page_rooms/tablet_400@2x.jpg 2x"
              media="(min-width: 1024px)">
              <source 
              srcset="/images/hotel-page_rooms/mobile_244.jpg 1x, /images/hotel-page_rooms/mobile_244@2x.jpg 2x"
              media="(max-width: 1023px)">
              <img class="rooms__img" src="/images/hotel-page_rooms/mobile_244.jpg" alt="">
            </picture>
            <div class="rooms-foto swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet1_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet1_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                srcset="/images/hotel-page_rooms/desktop_1_254.jpg 1x, /images/hotel-page_rooms/desktop_1_254@2x.jpg 2x"
                                media="(min-width: 1280px)">
                                <img class="slide__img" src="/images/hotel-page_rooms/desktop_1_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet2_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet2_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                srcset="/images/hotel-page_rooms/desktop_2_254.jpg 1x, /images/hotel-page_rooms/desktop_2_254@2x.jpg 2x"
                                media="(min-width: 1280px)">
                                <img class="slide__img" src="/images/hotel-page_rooms/desktop_2_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet3_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet3_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                  srcset="/images/hotel-page_rooms/desktop_3_254.jpg 1x, /images/hotel-page_rooms/desktop_3_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_3_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                <source 
                                srcset="/images/hotel-page_rooms/mobile_tablet4_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet4_194@2x.jpg 2x"
                                media="(max-width: 1279px)">
                                <source 
                                  srcset="/images/hotel-page_rooms/desktop_4_254.jpg 1x, /images/hotel-page_rooms/desktop_4_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_4_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                  <source 
                                  srcset="/images/hotel-page_rooms/mobile_tablet5_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet5_194@2x.jpg 2x"
                                  media="(max-width: 1279px)">
                                  <source 
                                  srcset="/images/hotel-page_rooms/desktop_5_254.jpg 1x, /images/hotel-page_rooms/desktop_5_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_5_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-slide">
                            <picture class="slide__picture">
                                  <source 
                                  srcset="/images/hotel-page_rooms/mobile_tablet6_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet6_194@2x.jpg 2x"
                                  media="(max-width: 1279px)">
                                  <source 
                                  srcset="/images/hotel-page_rooms/desktop_6_254.jpg 1x, /images/hotel-page_rooms/desktop_6_254@2x.jpg 2x"
                                  media="(min-width: 1280px)">
                                  <img class="slide__img" src="/images/hotel-page_rooms/desktop_6_254.jpg" alt="rooms">
                            </picture>                        
                        </div>
                    </div>
                </div>
                <div class="arrow arrow-right">
                    <a href="" class="arrow-prev">
                        <svg class="icon-arrow" width="30" height="17">
                            <use href="/images/icons.svg#icon-prev"></use>
                        </svg>
                    </a>
                    <a href="" class="arrow-next">
                        <svg class="icon-arrow" width="30" height="17">
                            <use href="/images/icons.svg#icon-next"></use>
                        </svg>
                    </a>
                </div>
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>
        <div class="rooms-button rooms-button-desktop-right ">
            <a href="./room2lx.html" class="button-black" lang="uk">Детальніше</a>
            <button type="button" class="rooms-button__style button-black js-open-modal" data-modal="4" lang="uk">Переглянути ціни</button>
        </div>
      </div>
</section>
<div class="rooms-container container">
    <div class="rooms-desktop-discription">
        <p class="rooms__text">Amet minim mollit non</p>
        <h2 class="rooms__logo">MIMIHO</h2>
        <h2 class="rooms__title" lang="uk">ДВОМІСНИЙ НОМЕР</h2>
        <p class="rooms__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <picture class="rooms__picture">
      <source 
        srcset="/images/hotel-page_rooms/desktop_460.jpg 1x, /images/hotel-page_rooms/desktop_460@2x.jpg 2x"
        media="(min-width: 1280px)">
        <source 
        srcset="/images/hotel-page_rooms/tablet_400.jpg 1x, /images/hotel-page_rooms/tablet_400@2x.jpg 2x"
        media="(min-width: 1024px)">
        <source 
        srcset="/images/hotel-page_rooms/mobile_244.jpg 1x, /images/hotel-page_rooms/mobile_244@2x.jpg 2x"
        media="(max-width: 1023px)">
        <img class="rooms__img" src="/images/hotel-page_rooms/mobile_244.jpg" alt="">
    </picture>
        <div dir="rtl" class="rooms-foto swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-slide">
                        <picture class="slide__picture">
                            <source 
                            srcset="/images/hotel-page_rooms/mobile_tablet1_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet1_194@2x.jpg 2x"
                            media="(max-width: 1279px)">
                            <source 
                            srcset="/images/hotel-page_rooms/desktop_1_254.jpg 1x, /images/hotel-page_rooms/desktop_1_254@2x.jpg 2x"
                            media="(min-width: 1280px)">
                            <img class="slide__img" src="/images/hotel-page_rooms/desktop_1_254.jpg" alt="rooms">
                        </picture>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-slide">
                        <picture class="slide__picture">
                            <source 
                            srcset="/images/hotel-page_rooms/mobile_tablet2_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet2_194@2x.jpg 2x"
                            media="(max-width: 1279px)">
                            <source 
                            srcset="/images/hotel-page_rooms/desktop_2_254.jpg 1x, /images/hotel-page_rooms/desktop_2_254@2x.jpg 2x"
                            media="(min-width: 1280px)">
                            <img class="slide__img" src="/images/hotel-page_rooms/desktop_2_254.jpg" alt="rooms">
                        </picture>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-slide">
                        <picture class="slide__picture">
                            <source 
                            srcset="/images/hotel-page_rooms/mobile_tablet3_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet3_194@2x.jpg 2x"
                            media="(max-width: 1279px)">
                            <source 
                              srcset="/images/hotel-page_rooms/desktop_3_254.jpg 1x, /images/hotel-page_rooms/desktop_3_254@2x.jpg 2x"
                              media="(min-width: 1280px)">
                              <img class="slide__img" src="/images/hotel-page_rooms/desktop_3_254.jpg" alt="rooms">
                        </picture>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-slide">
                        <picture class="slide__picture">
                            <source 
                            srcset="/images/hotel-page_rooms/mobile_tablet4_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet4_194@2x.jpg 2x"
                            media="(max-width: 1279px)">
                            <source 
                              srcset="/images/hotel-page_rooms/desktop_4_254.jpg 1x, /images/hotel-page_rooms/desktop_4_254@2x.jpg 2x"
                              media="(min-width: 1280px)">
                              <img class="slide__img" src="/images/hotel-page_rooms/desktop_4_254.jpg" alt="rooms">
                        </picture>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-slide">
                        <picture class="slide__picture">
                              <source 
                              srcset="/images/hotel-page_rooms/mobile_tablet5_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet5_194@2x.jpg 2x"
                              media="(max-width: 1279px)">
                              <source 
                              srcset="/images/hotel-page_rooms/desktop_5_254.jpg 1x, /images/hotel-page_rooms/desktop_5_254@2x.jpg 2x"
                              media="(min-width: 1280px)">
                              <img class="slide__img" src="/images/hotel-page_rooms/desktop_5_254.jpg" alt="rooms">
                        </picture>                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-slide">
                        <picture class="slide__picture">
                              <source 
                              srcset="/images/hotel-page_rooms/mobile_tablet6_194.jpg 1x, /images/hotel-page_rooms/mobile_tablet6_194@2x.jpg 2x"
                              media="(max-width: 1279px)">
                              <source 
                              srcset="/images/hotel-page_rooms/desktop_6_254.jpg 1x, /images/hotel-page_rooms/desktop_6_254@2x.jpg 2x"
                              media="(min-width: 1280px)">
                              <img class="slide__img" src="/images/hotel-page_rooms/desktop_6_254.jpg" alt="rooms">
                        </picture>                        
                    </div>
                </div>
            </div>
            <div dir="ltr" class="arrow arrow-right">
                <a href="" class="arrow-prev">
                   <svg class="icon-arrow" width="30" height="17">
                        <use href="/images/icons.svg#icon-prev"></use>
                    </svg>
                </a>
               <a href="" class="arrow-next">
                    <svg class="icon-arrow" width="30" height="17">
                        <use href="/images/icons.svg#icon-next"></use>
                    </svg>
               </a>
            </div>
            <!-- <div class="swiper-scrollbar"></div> -->
            <div class="rooms-button rooms-button-desktop">
                <a href="./room2lx.html" class="button-black" lang="uk">Детальніше</a>
                <button type="button" class="rooms-button__style button-black js-open-modal" data-modal="5" lang="uk">Переглянути ціни</button>
            </div>
        </div>
</div>
  