<div class="section hero hero-hotel">
  <div class="container container-hero">
    <address class="address">
      <a class="link-map" href="https://goo.gl/maps/Grp7XXtRsGtsApyo6" rel="noreferrer nofollow noopener " lang="uk" > <svg class="icon-map">
        <use href="./images/icons.svg#icon-map" ></use>
      </svg> Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15</a>
    </address>
    <h1 class="hero-title loader">
      <span>m</span><span>i</span><span>m</span><span>i</span><span>h</span><span class="spacing">o</span></h1>
    <p lang="uk" class="hero-text hero-text-desc">Готель</p>
      <ul class="hero-btn">
        <li><button class="button-transparent btn-reserve-table js-open-modal" data-modal="1" type="button" lang="uk" >Забронювати столик</button></li>
        <li><button class="button-transparent btn-price js-open-modal" data-modal-open type="button" lang="uk" >Переглянути ціни</button></li>
      </ul>
  </div>
</div>
