@charset "UTF-8";
:root {
  --button-activ-color: #404bbf;
  --dark-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --success-color: #31d0aa;
  --white-color: #ffffff;
  --subtle-text-color: #8e8f99;
  --primary-text-color: #434455;
  --light-text-color: #e7e9fc;
  --light-bgc-color: #f4f4fd;
  --slate: rgba(142, 143, 153, 1);
  --modal-color: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




































































.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  /* padding-top: 72px; */
}

.title {
  color: var(--dark-text-color);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.section {
  margin-top: 0;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-title {
  color: var(--dark-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.head {
  border-bottom: 1px solid rgba(46, 47, 66, 0.08);
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  /* z-index: 1; */
  /* background-color: var(--white-color); */
}

.logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 77px;
}

.web {
  color: var(--accent-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.studio {
  color: var(--dark-text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

a:hover span,
a:focus span {
  color: var(--accent-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contacts {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }
  .site-nav .link {
    display: block;
    color: var(--dark-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    -webkit-transition: color var(--transition);
    transition: color var(--transition);
  }
  .site-nav .link.current {
    color: var(--accent-color);
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }
  .item {
    position: relative;
  }
  .current::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 45px;
    background: var(--button-activ-color);
    border-radius: 2px;
  }
  .contacts > a {
    color: var(--primary-text-color);
    font-style: normal;
    margin-right: 16px;
    -webkit-transition: color var(--transition);
    transition: color var(--transition);
  }
  .contacts a:hover,
  .contacts a:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .contacts > a:last-child {
    margin-right: 0;
  }
  .contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: auto;
  }
}
/* position: relative; */
.hero {
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: var(--dark-text-color);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(46, 47, 66, 0.7)),
      to(rgba(46, 47, 66, 0.7))
    ),
    url("../images/img-mobile/hero-mob.jpg");
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/img-mobile/hero-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url("../images/img-mobile/hero-mob@2x.jpg");
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-mobile/hero-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url("../images/img-tab/hero-tab.jpg");
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-tab/hero-tab.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url("../images/img-tab/hero-tab@2x.jpg");
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-tab/hero-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url("../images/img-desk/hero-desk.jpg");
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-desk/hero-desk.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(46, 47, 66, 0.7)),
        to(rgba(46, 47, 66, 0.7))
      ),
      url("../images/img-desk/hero-desk@2x.jpg");
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-desk/hero-desk@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .hero-title {
    max-width: 318px;
  }
}
.hero-title {
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-size: 36px;
  line-height: 1.11;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 436px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 108px;
  }
  .hero-title {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
    width: 494px;
    height: 102px;
  }
}
@media screen and (max-width: 1199px) {
  .contacts {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
    height: 603px;
    padding-top: 192px;
    padding-bottom: 192px;
  }
  .hero-title {
    margin-bottom: 48px;
    width: 492px;
    height: 120px;
  }
  .contacts > a {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .section-indent {
    display: none;
  }
}
.section-indent {
  padding-top: 0;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-list {
  margin-right: 24px;
}

.card-list:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1199px) {
  .icon {
    display: none;
  }
  .our-items .title {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .our-items .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }
  .our-items .text {
    font-weight: 500;
  }
  .section {
    padding-top: 96px;
  }
  .card-list:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .our-items .card-list {
    width: 356px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .our-items .card-list:nth-child(even) {
    margin-right: 0;
  }
  .our-items .card-list:nth-child(n + 3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 112px;
    background-color: var(--light-bgc-color);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;
  }
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.team-list .card-list {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.our-team {
  background-color: var(--light-bgc-color);
  text-align: center;
  margin-bottom: 0;
  height: auto;
}

.our-team .card-list {
  background-color: var(--white-color);
}

.team-list > .card-list {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list .card-list:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list .card-list {
    margin-bottom: 40px;
  }
  .team-list .card-list:nth-child(n + 3) {
    margin-bottom: 0;
  }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 24px;
  }
  .team-list .card-list {
    margin-left: 0;
    margin-right: 0;
  }
}
.customers-logo {
  fill: var(--slate);
}

.our-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.customers-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  height: 88px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--slate);
  border-radius: 4px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

@media screen and (max-width: 767px) {
  .our-customers .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    margin-bottom: 72px;
    width: calc((100% - 16px) / 2);
  }
  .our-customers .card-list:nth-child(n + 5) {
    margin-bottom: 0;
  }
  .our-customers .card-list:nth-child(2n + 1) {
    margin-right: 16px;
  }
}
.customers-logo:hover,
.customers-logo:focus {
  fill: var(--button-activ-color);
  border-color: var(--button-activ-color);
}

@media screen and (min-width: 768px) {
  .our-customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .our-customers .card-list:nth-child(n + 4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-customers .card-list:nth-child(3) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .customers-logo {
    width: 168px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 8px;
}

.social-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twitter,
.instagram,
.facebook,
.linkedin {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.twitter:hover,
.instagram:hover,
.facebook:hover,
.linkedin:hover,
.twitter:focus,
.instagram:focus,
.facebook:focus,
.linkedin:focus {
  fill: var(--button-activ-color);
}

.button-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;
}

.button-list {
  margin-right: 24px;
}

.button-list:hover,
.button-list:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.button-list:last-child {
  margin-right: 0;
}

.button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  -webkit-transition: color var(--transition),
    background-color var(--transition);
  transition: color var(--transition), background-color var(--transition);
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  line-height: 1.19;
  padding: 16px 32px;
}

.primary:hover,
.primary:focus {
  color: var(--white-color);
  background-color: var(--button-activ-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.filters {
  color: var(--accent-color);
  background-color: var(--light-bgc-color);
  border-color: var(--light-text-color);
  line-height: 1.5;
  padding: 8px 16px;
}

.button.filters:hover,
.button.filters:focus {
  color: var(--white-color);
  background-color: var(--button-activ-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .social-media {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 208px;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--dark-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.studio-footer {
  color: var(--light-bgc-color);
  text-transform: uppercase;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.footer-text {
  color: var(--light-text-color);
  margin-top: 16px;
}

.marcup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 72px;
}

.marcup .logo {
  margin-right: 0;
  padding: 0;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  color: var(--light-bgc-color);
}

.icon-footer {
  fill: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.icon-footer:hover,
.icon-footer:focus {
  fill: var(--success-color);
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-left: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .marcup {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 0;
    width: 264px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 72px;
    margin-left: 108px;
  }
  .media {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: 208px;
  }
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .marcup {
    width: 264px;
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .footer-content {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 0;
  }
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.mobile-menu-open_icon:hover,
.mobile-menu-open_icon:focus {
  fill: var(--accent-color);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 60px;
  padding-bottom: 40px;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--light-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  -webkit-transition: fill var(--transition), background-color var(--transition);
  transition: fill var(--transition), background-color var(--transition);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--button-activ-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--white-color);
}

.mobile-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 48px;
}

.mobile-social-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  gap: 40px;
  margin-top: auto;
  font-style: normal;
}

.phone {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.11;
  text-transform: capitalize;
  white-space: nowrap;
}
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

.mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.item-mobile {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.link-mobile:hover,
.link-mobile:focus {
  color: var(--accent-color);
}

.twitter,
.instagram,
.facebook,
.linkedin {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.twitter:hover,
.instagram:hover,
.facebook:hover,
.linkedin:hover,
.twitter:focus,
.instagram:focus,
.facebook:focus,
.linkedin:focus {
  fill: var(--button-activ-color);
}

@media screen and (max-width: 380px) {
  .phone {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.08;
    text-transform: capitalize;
    white-space: nowrap;
  }
}
.backdrop {
  position: fixed;
  /* z-index: 2; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  min-height: 584px;
  width: 408px;
  border-radius: 4px;
  background-color: var(--modal-color);
  -webkit-transition: opacity var(--transition),
    -webkit-transform var(--transition);
  transition: opacity var(--transition), -webkit-transform var(--transition);
  transition: transform var(--transition), opacity var(--transition);
  transition: transform var(--transition), opacity var(--transition),
    -webkit-transform var(--transition);
  padding-top: 72px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--light-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  -webkit-transition: fill var(--transition), background-color var(--transition);
  transition: fill var(--transition), background-color var(--transition);
}

.button-close:hover,
.button-close:focus {
  background-color: var(--button-activ-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--white-color);
}

.modal-text {
  color: var(--dark-text-color);
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.modal-input-text {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--subtle-text-color);
}

.modal-chek-text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-check > .modal-chek-text {
  margin-bottom: 24px;
}

.modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.policy {
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-form-field {
  display: block;
  margin-bottom: 8px;
}

.modal-form-icon {
  position: relative;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  display: block;
  top: -2px;
  left: 16px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.modal-comment-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.field-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.field-comment:focus {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.field-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.field-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.field-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.field-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.field-comment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-button {
  display: inline-block;
  -ms-flex-item-align: center;
  align-self: center;
  width: 169px;
  height: 56px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.modal-button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  line-height: 1.5;
}

.primary:hover,
.primary:focus {
  color: var(--white-color);
  background-color: var(--button-activ-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-chek {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
  /* аналог
  appearance: none;
  position: absolute */
}

.input-chek:checked + .vector {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-origin: border-box;
}

.vector {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}

.input-chek:focus + .vector {
  border-color: var(--accent-color);
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

@media screen and (max-width: 767px) {
  .footer-input {
    margin-bottom: 16px;
  }
  .footer-label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  width: 165px;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
  padding: 8px 24px;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer-button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  line-height: 1.5;
}

.footer-button.primary:hover {
  background-color: var(--button-activ-color);
}

.footer-form {
  display: block;
}

.footer-input {
  color: var(--white-color);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 16px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.footer-input:focus {
  border-color: var(--button-activ-color);
}

.footer-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 20;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-moz-placeholder {
  font-size: 12px;
  line-height: 20;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 20;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 20;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 20;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
  .footer-form {
    margin-left: 108px;
  }
  .footer-label {
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 80px;
  }
  .oll-footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.project-list {
  margin-right: 24px;
  margin-bottom: 48px;
  border-bottom: 0.5px solid #f4f4fd;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08); */
}

.project-list:hover,
.project-list:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-list:nth-child(3n) {
  margin-right: 0;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.text-op {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  left: 0;
  top: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  /* padding-bottom: 164px; */
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.link-op:hover .text-op,
.link-op:focus .text-op {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.card-content {
  margin: 0;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
} /*# sourceMappingURL=main.css.map */
