


<div class="footer-container">
    <div class="footer">
        <div class="footer-wrapper container">

            <div class="logo-and-link-wrapper">
                <div class="footer-logo-wrapper">
                    <a class="footer-logo" href="./index.html">MIMIH<span class="last-letter-spacing">O</span></a>
                </div>
              
                    <div class="footer-link-wrapper">
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="./index.html"  class="footer-word-link" lang="uk">Головна</a>
                            </li>
                            <li class="footer-item">
                                <a href="./restaurant.html" class="footer-word-link" lang="uk">Ресторан</a>
                            </li>
                            <li class="footer-item">
                                <a href="./hotel.html" class="footer-word-link" lang="uk">Готель</a>
                            </li>
                        </ul>
                    </div>
    

            </div>
            
                    <div class="footer-icon-wrapper">
                    <ul class="footer-soc-icon-list">
                        <li class="footer-soc-icon-item">
                            <a href="https://www.instagram.com/" target="_blank" class="footer-soc-item-word" >Instagram</a>
                            <svg class="footer-soc-icon" width="24" height="24">
                                <use href="../images/icons.svg#icon-instagram" ></use>
                            </svg>
                        </li>
                        <li class="footer-soc-icon-item">
                            <a href="https://www.facebook.com/"  target="_blank" class="footer-soc-item-word" >Facebook</a>
                            <svg class="footer-soc-icon" width="24" height="24">
                                <use href="../images/icons.svg#icon-facebook"></use>
                            </svg>
                        </li>
                        <li class="footer-soc-icon-item">
                            <a href="https://web.telegram.org/k/"  target="_blank" class="footer-soc-item-word" >Telegram</a>
                            <svg class="footer-soc-icon" width="24" height="24">
                                <use href="../images/icons.svg#icon-telegram" ></use>
                            </svg>
                        </li>
                    </ul>
                    </div>

            </div>
            
        </div>
    </div>
