/* приховати код *//*

.visually-hidden 

*//*--buttons--*//*--buttons--*//*

.button-black
.button-transparent
.button-big
.button-big-pointed 

*//*--buttons--*//*--buttons--*/

  .rooms-container {
    background-color: var(--back-color-criam);
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .rooms-container-right {
    background-color: var(--back-color-criam-dark);
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .rooms__text {
    /* padding-top: 32px; */
    margin-bottom: 8px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: #B4B4B4;
  }
  .rooms__logo {
    margin-bottom: 32px;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    color: #494848;
  }
  .rooms__title {
    margin-bottom: 12px;  
    padding-right: 0;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.05em;
  }
  .rooms__description {
    width: 258px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: var(--color-text);
  }
  .rooms__picture {
    display: flex;
    justify-content: end;
    margin-bottom: 32px;
  }
  .rooms__picture-right {
    display: flex;
    justify-content: start;
    margin-bottom: 32px;
  }
  .rooms-foto {
    max-width: 414px;
    overflow: hidden;
  }

  .rooms__img {
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .description-right {
    margin-left: 83px;
  }
  
  .swiper-wrapper {
    display: inline-flex;
    /* flex-direction: row-reverse; */
    /* gap: 16px; */
  }
  .image-slide img {
    text-align: center;
  } 
  .slide__img {
    width: 194px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  .arrow {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .arrow-right {
    text-align: right;

  }
  .arrow-prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 32px;
  }
  .arrow-next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }
  .rooms-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* margin-bottom: 32px; */
  }
  @media screen and (min-width: 1024px) {
    .rooms-container {
        position: relative;
        max-width: 960px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 62px;
        padding-bottom: 40px;
        
    }
    .rooms-desktop-discription {
       margin-bottom: 208px;
    }
    .rooms__text {
        margin-bottom: 4px;
        font-size: 32px;
        line-height: calc(37 / 32);
    }
    .rooms__logo {
        margin-bottom: 62px;
        font-size: 64px;
        line-height: calc(69 / 64);
    }
    .rooms__title {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: calc(34 / 30);
    }
    .rooms__description {
        width: 439px;
        font-size: 16px;
        line-height: calc(20 / 16);
    }
    .rooms__picture {
        position: absolute;
        top: 47px;
        right: 65px;
        transition: top var(--transition-default);
    }
    .rooms__picture:hover,
    .rooms__picture:focus {
        top: -32px;
    }
    .rooms__img {
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
    .rooms-foto {
        max-width: 428px;
    }
    .arrow {
        display: inline-block;
        margin-bottom: 0;
    }
    .rooms-button-desktop { 
        position: absolute;
        right: 65px;
        bottom: 127px;
    }
    .rooms-container-right {
        position: relative;
        max-width: 960px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .rooms-desktop-discription-right {
        margin-left: 26px;
        margin-bottom: 208px;
    }
    .rooms__title-right {
        margin-right: 67px;
    }
    .rooms__picture-right {
        position: absolute;
        top: 47px;
        left: 55px;
        margin-bottom: 48px;
        transition: top var(--transition-default);
    }
    .rooms__picture-right:hover,
    .rooms__picture-right:focus {
        top: -32px;
    }
    .rooms-button-desktop-right { 
        position: absolute;
        left: 65px;
        bottom: 127px;
    }

}
  @media screen and (min-width: 1280px) {

    .rooms-container {
        position: relative;
        max-width: 1140px;
        display: block;
        flex-wrap: wrap;
        padding-top: 72px;
    }
    .rooms-desktop-discription {
        margin-bottom: 305px;
     }
     .rooms__logo {
        margin-bottom: 72px;
    }
    .rooms__title {
        margin-bottom: 24px;
        font-size: 36px;
        line-height: calc(41 / 36);
    }
    .rooms__description {
        width: 400px;
    }
    .rooms__picture {
        top: 100px;
        right: 35px;
    }
    .rooms-foto {
        max-width: 548px;
    }
    .slide__img {
        width: 254px;
    }
    .arrow {
        margin-top: 40px;
    }
    .rooms-button-desktop {
        right: 40px;
        bottom: 185px;
    }
    .rooms-container-right {
        position: relative;
        max-width: 1140px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        padding-top: 72px;
        table-layout: 40px;
    }
    .rooms-desktop-discription-right {
        margin-bottom: 268px;
    }
    .rooms__title-right {
        margin-right: 22px;
    }
    .description-right {
        margin-right: 75px;
    }
    .rooms__picture-right {
        position: absolute;
        top: 100px;
        left: 35px;
        transition: top var(--transition-default);
    }
    .rooms__picture-right:hover,
    .rooms__picture-right:focus {
        top: -32px;
    }
    .rooms-button-desktop-right { 
        position: absolute;
        left: 40px;
        bottom: 185px;
    }
}