  /* Details of our restaurant (door) */
  /* SSerg */
.door {
	max-width: 414px;

	margin-left: auto;
	margin-right: auto;
	padding-top: calc(100vw * 24 / 414);
	padding-bottom: calc(100vw * 40 / 414);

	background-color: black;
	background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
       url("../images/door/door-bg-mobile.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		.door {
			background-image: linear-gradient(to right,
      	    rgba(0, 0, 0, 0.65),
        	  rgba(0, 0, 0, 0.65)),
          url("../images/door/door-bg-mobile@2x.jpg");
  }
}

.door > .container {
	/* outline: 1px solid red; */
}
.door-row {
	/* outline: 1px solid blue; */
}
.door-block-text {
	margin-left: calc(100vw * 125 / 414);
	/* 140-15=125 */
}

.door-sub-title {
	font-family: 'Film P3';
	font-weight: 700;
	font-size: calc(100vw * 40 / 414);
	line-height: calc(43 / 40);
	letter-spacing: 0.3em;
	color: #FFFFFF;

	margin-bottom: calc(100vw * 12 / 414);
}

.door-title {
	font-family: 'Montserrat';
  font-weight: 700;
  font-size: calc(100vw * 20 / 414);
  line-height: calc(24 /20);
  letter-spacing: 0.02em;
  color: #FFFFFF;

  margin-bottom: calc(100vw * 20 / 414);
}

.door-text {
	font-family: 'Montserrat';
  font-weight: 600;
  font-size: calc(100vw * 12 / 414);
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #BABABA;

  /* margin-right: calc(100vw * 15 / 414); */
  margin-bottom: calc(100vw * 48 / 414);
}

.door-nav-slider {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: calc(100vw * 32 / 414);
}

.door-slider {
	max-width: 100%;
	width: calc(100vw * 374 / 414);
	margin-left: calc(100vw * 25 / 414);
	margin-right: calc(100vw * (-15) / 414);
	overflow: hidden;
}

.door-slider-list {
	display: flex;
  column-gap: calc(100vw * 20 / 414);

	margin-bottom: calc(100vw * 16 / 414);
}

.door-img {
	max-width: calc(100vw * 274 / 414);
	height: calc(100vw * 270 / 414);
	border-radius: 2px;
	background-color: #DADADA;
}

.door-buttons {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  row-gap: calc(100vw * 16 / 414);;
}

.door .button-black {
	max-width: 236px;
  min-width: calc(100vw * 236 / 414);
  height: calc(100vw * 48 / 414);
  font-size: calc(100vw * 16 / 414);
}

.door-icon {
	width: calc(100vw * 32 / 414);
	height: calc(100vw * 32 / 414);
}

.door-btn-prev,
.door-btn-next {
	padding: 0;
  border: none;
	outline: none;

	background-color: transparent;
	fill: white;

	transition: background-color var(--transition),
       		    fill var(--transition);
}

.door-btn-prev {
	margin-right: calc(100vw * 32 / 414);
}

.door-btn-prev:hover,
.door-btn-prev:focus,
.door-btn-next:hover,
.door-btn-next:focus {
	fill: var(--color-text-button);
}

@media screen and (min-width: 414px) {
	.door {	
  	padding-top: 24px;
    padding-bottom: 40px;
	}
  
	.door-block-text {
  	margin-left: 125px;
    /* 140-15=125 */
	}

	.door-sub-title {
		font-size: 40px;
		margin-bottom: 12px;
	}

	.door-title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.door-text {
		font-size: 12px;
		/* margin-right: 15px; */
		margin-bottom: 48px;
	}

  .door-nav-slider {
		row-gap: 32px;
	}

  .door-slider {
		width: 374px;
		margin-left: 25px;
		margin-right: -15px;
	}

	.door-slider-list {
		width: 100%;
		column-gap: 20px;
		margin-bottom: 16px;
	}

	.door-img {
		max-width: 274px;
		height: 270px;
	}

  .door-buttons {
		row-gap: 16px;
	}

	.door .button-black {
		min-width: 236px;
		font-size: 16px;
		height: 48px;
	}

	.door-btn-prev {
		margin-right: 32px;
	}

	.door-icon {
		width: 32px;
		height: 32px;
	}
}

@media screen and (min-width: 1024px) {
	/* Details of our restaurant (door) */
	.door > .container {
		width: 1024px;
		max-width: 1024px;
		padding: 0 47px;
		/* 47+236+29+662+50 = 1024 */
	}

	.door {
		max-width: 1024px;
		padding-top: 48px;

		background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url("../images/door/door-bg-tablet.jpg");
	}

	@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
			.door {
      	background-image: linear-gradient(to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)),
          url("../images/door/door-bg-tablet@2x.jpg");
    	}
  }

	.door-block-text {
		margin-left: 231px;
		/* 278-47=231 */
	}

	.door-sub-title {
		font-size: 64px;
		line-height: calc(69 / 64);
		letter-spacing: 0.3em;

		margin-bottom: 16px;
	}

	.door-title {
		font-size: 24px;
		line-height: calc(29 / 24);

		margin-bottom: 8px;
	}

	.door-text {
		font-size: 16px;
		line-height: calc(20 / 16);

		margin-right: 121px;
		/* 136-15=121 */
		margin-bottom: 40px;
	}

	.door-nav-slider {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row-reverse;
		align-items: flex-end;
		gap: 29px;
	}

	.door-slider {
		width: 662px;
		margin: 0;
	}

	.door-slider-list {
		column-gap: 34px;
		margin-bottom: 24px;
	}

	.door-img {
		max-width: 270px;
		height: 270px;
	}

	.door-buttons {
		margin-bottom: 60px;
    /* 32 + 24 + 2*2 = 60 */
  }

}


@media screen and (min-width: 1280px) {
	/* Details of our restaurant (door) */
	.door > .container {
		width: 1280px;
		max-width: 1600px;
		padding: 0 52px 0 85px;
		/* 47+236+29+662+50 = 1024 */
	}

	.door {
		max-width: 1280px;

    background-image: linear-gradient(to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)),
          url("../images/door/door-bg-desktop.jpg");
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
				.door {
					background-image: linear-gradient(to right,
                      rgba(0, 0, 0, 0.65),
                      rgba(0, 0, 0, 0.65)),
                  url("../images/door/door-bg-desktop@2x.jpg");
      }
    }

	.door-block-text {
		margin-left: 253px;
		/* 338 - 85 = 253 */
	}

	.door-text {
		margin-right: 317px;
		/* 332-15=317 */
	}

	.door-nav-slider {
		gap: 32px;
	}

	.door-slider {
		width: 875px;
		margin: 0;
	}

	.door-slider-list {
		column-gap: 87px;
		margin-right: -33px;
		margin-bottom: 24px;
	}

	.door .button-black {
		background-color: transparent;
	}
}