/* приховати код *//*

.visually-hidden 

*//*--buttons--*//*--buttons--*//*

.button-black
.button-transparent
.button-big
.button-big-pointed 

*//*--buttons--*//*--buttons--*/


/* ===========================================<HEADER>============================================ *
    
/* тут виношу в макс відс */
  /* from 0 to 1025 =====> for mobile */
@media screen and (max-width: 1023px) {
    .header-mob-number {
      display: none;
      
    }
  
    .header-social-link{
      display: none;
    }

    .footer-soc-link-wrapper{
      display: none;
    }

    .footer-soc-item-word{
      display: none;
    }
  }




  .header {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 9px;
  }
  
  .header-wraper {
    display: flex;
  }
  
  .header-logo {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(39/36);
    letter-spacing: 0.3em;
    color: navy;     
    /* колір поставив тимчасово, щоб було видно на білому фоні */
  
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
  .header-logo:hover,
  .header-logo:focus {
    color: black;
  }
  
  .header-navigation-list { 
    position: relative;
    display: flex;
    gap: 50px;
    padding-top: 12px;
    margin-left: 52px;
  } 
  
  
  .header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: var(--color-text-button);
  }   
  
  
  .mobile-phone-icon-first {
    position: absolute;
    transform: translate(-46px, -2px);
    fill: var(--color-text-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  
  }
  
  .mobile-phone-icon-second {
    position: absolute;
    transform: translate(-46px,-2px);
    fill: var(--color-text-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
  .mobile-phone-icon-first:hover,
  .mobile-phone-icon-first:focus,
  .mobile-phone-icon-second:hover,
  .mobile-phone-icon-second:focus{
    fill: white;
  }
  
  
  .restaurant-word {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  
  }
  
  .restaurant-word:hover,
  .restaurant-word:focus {
    color: white;
  
  
  }
  
  .hotel-word {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  
  }
  
  .hotel-word:hover,
  .hotel-word:focus {
    color: white;
  }
  
  
  /******************==============<TABLET>===============******************* */
              /* виношу в макс відс */
    /* from 1024 to 1280 =====> for tablet */
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
  
        .header-social-link{
          display: none;
        }   
      }
   



  @media screen and (min-width: 1024px) {
   
    .header>.container {
      display: flex;
      max-width: 1279px;
  
    }
  
  
    .header {
      padding-top: 24px;
      padding-bottom: 30px;
    }
  
    .header-logo {
      font-size: 40px;
      line-height: calc(43/40);
      padding-left: 32px;
      margin-right: 207px;
  
    }
  
    .header-navigation-list{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      padding-top: 0px;
      margin-left: 0px;
  
    }
  
    .mobile-phone-icon-first {
      position: absolute;
      right: 64px;
      padding: 0;
    }
  
    .mobile-phone-icon-second {
      position: absolute;
      right: 66px;
      top: 10px;
  
    }
     
    .wraper-icon-mob-tel {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 8px;
      position: relative;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
      min-width: 144px;
      min-height: 40px;
   
  
  }
  
  
    .header-mob-number {
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    /* тимчасовий колір */
    color: navy;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  
  }
  
    .header-mob-number:hover,
    .header-mob-number:focus {
    color: var(--color-text-button);
  }
  
    .restaurant-word{
    margin-right: 32px;
  }
  
    .hotel-word {
    margin-left: 72px;
    margin-right: 32px;
  }
  
  }
  /******************==============</TABLET>===============******************* */
  
  
  
  
  
  
  /******************==============<LAP-TOP>===============******************* */
  
  @media screen and (min-width: 1280px) {
    
     .header {
      display: flex;
      min-width: 1280px;
  
    }
  
  
  .header-logo {
    padding-left: 70px;
    margin-right: 135px;
  
  }
  
  .header-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 140px;
    padding-right:70px;
    cursor: pointer;
    
  }
  
  
  .header-social-icon{
    fill: rgba(243, 198, 83, 0.7);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
  .header-social-icon:hover,
  .header-social-icon:focus {
    fill: white;
  
  }
  
  }
  
  /******************==============</LAP-TOP>===============******************* */
  
  /* ===========================================</HEADER>============================================ */




  /* ===========================================<FOOTER>============================================ */

  .footer-container {
    padding-top: 40px;
    padding-bottom: 40px;  
    background-color:#0E0C07;
  }

  

  .footer-logo-wrapper {
    display: flex;
    padding-left: 44px;
  }


  .logo-and-link-wrapper {
    display: flex;
    /* justify-content: space-between; */

  }



  .footer-logo {
    margin-right: 85px;
    display: flex;
    align-items: flex-end;
    max-width: 127px;
    font-family: 'Film P3';
    font-size: 40px;
    line-height: calc(43/40);
    letter-spacing: 0.3em;
    color: #F3C653;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  }

  .last-letter-spacing {
    letter-spacing: 0;
  }

.footer-logo:hover,
.footer-logo:focus {
    color: white;
}


   

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 26px;
    /* margin-left: 34px; */
     
}

.footer-word-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F3C653;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.footer-word-link:hover,
.footer-word-link:focus {
    color: white;
}

.footer-soc-icon-list{
    display: flex;
    justify-content: flex-end;
    gap: 18px;

    margin-top: 32px;
    padding-right: 22px;
}

.footer-soc-icon {
    cursor: pointer; 
    fill: rgba(243, 198, 83, 0.7);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

.footer-soc-icon:hover,
.footer-soc-icon:focus {
    fill: white;
}





  /* ===========================================<TABLET>============================================ */

  @media screen and (min-width: 1024px){

    .footer-wrapper.container {
        max-width: 1279px; 
        background-color: #0E0C07;
        padding-right: 47px;
        padding-left: 47px;
       
      
    }

    .footer {
       padding-top: 80px;
       padding-bottom: 80px;

    }

  
    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      
    }

    .logo-and-link-wrapper{
      display: flex;
      gap: 163px;
    }

      .footer-logo {
      padding-left: 107px;
      align-items: center;
      max-width: none;
      font-weight: 700;
      font-size: 64px;
      line-height: calc(69/64);
      letter-spacing: 0.3em;
      color: #F3C653;
      margin-right: 0px;
    } 

    .last-letter-spacing{
      letter-spacing: 0;
    }

    .footer-logo-wrapper{
      padding-left: 0;
    }

    .footer-list {
      padding-right: 0px;
    }


    .footer-soc-list {
      display: flex;
      flex-direction: column;
      gap: 31px;
     
    }

    .footer-soc-icon-list{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
      padding-right: 75px;
      gap: 19px;
     
    }
   
    .footer-soc-icon-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;
      border: 0.5px solid #F3C653;
      border-radius: 2px;
      
    }

    .footer-soc-item-word{
      font-size: 16px;
      line-height: calc(20/16);
      letter-spacing: 0.02em;
      color: #F3C653;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 12px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    }

    .footer-soc-item-word:hover,
    .footer-soc-item-word:focus {
      color: white;
    }

    .footer-soc-icon{
      margin-right: 12px;
    }



  }


/* ===========================================</TABLET>============================================ */




/* ===========================================<LAP-TOP>============================================ */
@media screen and (min-width: 1280px) {

  .footer-wrapper.container {
    min-width: 1280px; 
    padding-right: 85px;
    padding-left: 85px;

}

  .footer-logo {
    padding-left: 131px;

  
  }

  .last-letter-spacing{
    letter-spacing: 0;
  }

  .footer-soc-icon-list {
    padding-right: 101px;

  }


}







/* ===========================================</LAP-TOP>============================================ */
