/* приховати код */
/*

.visually-hidden 

*/
/*--buttons--*/
/*--buttons--*/
/*

.button-black
.button-transparent
.button-big
.button-big-pointed 

*/
/*--buttons--*/
/*--buttons--*/
.container-services {
  margin-right: auto;
  margin-left: auto;
  /* padding: 0 15px; */
  max-width: 414px;
}


@media screen and (max-width: 1023px) {
  .hotel-details-max {
    max-width: 414px;
    margin-right: auto;
    margin-left: auto;
  }
}


/* .hotel-details-max{
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
  } */

/* ---------Mobile-first-styles--------- */
.container-services {
  padding-bottom: 40px;
  padding-top: 24px;
  max-width: 100%;
  background-image: var(--background-gradient),
    url('../images/about-hotel/dooh-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hotel-text-content {
  margin-left: 17px;
  /* 32-15=17 */
  margin-bottom: 48px;
  max-width: 243px;
}

.label,
.hotel-letter {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--color-button-hover);
  margin-bottom: 12px;
  text-align: right;
}

.hotel-letter {
  font-size: inherit;
  letter-spacing: 0em;
}

.hotel-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-button-hover);

  text-align: right;
  margin-bottom: 20px;
}

.description-text {
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}

.service-img-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 20px;

  margin-bottom: 16px;
}

.hotel-nav-slider-max {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 32px;
}

.hotel-slider-img {
  display: flex;
  flex-direction: column;
}

.hotel-btn-slider {
  display: flex;
  justify-content: right;
  gap: 32px;

  margin-top: 16px;
  margin-bottom: 32px;
}

.hotel-img-max {
  max-width: 274px;
  height: 270px;
}

.icon-left,
.icon-right {
  fill: var(--color-button-hover);
}

.icon-left:hover,
.icon-right:hover {
  fill: var(--color-text-button);
  cursor: pointer;
}

.icon-left:focus,
.icon-right:focus {
  fill: var(--color-text-button);
}

.service-btn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  /* margin-left: 40px; */
  row-gap: 16px;
}

.hotel-slider-max {
  margin-right: 25px;
  margin-left: -15px;
  overflow: hidden;
}

@media screen and (min-width: 414px) {
  .hotel-slider-max {
    width: 374px;
  }

  .service-img-list {
    width: 100%;
    column-gap: 20px;
    margin-bottom: 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
(-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px),
screen and(min-resolution: 192dpi) and (max-width: 1023px),
screen and(min-resolution: 2dppx) and (max-width: 1023px) {
  .container-services {
    background-image: var(--background-gradient),
      url('../images/about-hotel/dooh-bg-mobile@2x.jpg');
  }
}

/* -----------Tablet-styles--------- */
@media screen and (min-width: 1024px) {
  .container-services>.container {
    min-width: 1024px;
    padding: 0 47px;
  }

  .container-services {
    background-image: var(--background-gradient),
      url('../images/about-hotel/dooh-bg-tablet.jpg');
    padding-top: 48px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and(min-resolution: 192dpi) and (min-width: 1024px),
  screen and(min-resolution: 2dppx) and (min-width: 1024px) {
    .container-services {
      background-image: var(--background-gradient),
        url('../images/about-hotel/dooh-bg-tablet@2x.jpg');
    }
  }

  .hotel-text-content {
    margin-left: 150px;
    /* 197-47=150 */
    max-width: 549px;
    margin-bottom: 40px;
  }

  .label {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 16px;
  }

  .hotel-text {
    text-align: right;
    margin-bottom: 8px;
    margin-right: 0;
  }

  .description-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .hotel-slider-max {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 32px;
  }

  .hotel-slider-max {
    width: 930px;
    margin: 0;
  }

  .service-img-list {
    column-gap: 34px;
  }

  .hotel-btn-slider {
    margin-bottom: 0;
  }

  .hotel-img-max {
    max-width: 270px;
    height: 270px;
  }

  .service-btn {
    margin-bottom: 52px;
    /* margin-left: 32px;
      margin-top: 160px; */
  }

}

/* ------------Desctop-styles--------- */
@media screen and (min-width: 1280px) {

  .service-img-list {
    width: 100%;
    column-gap: 20px;
    margin-bottom: 0;
  }

  .container-services>.container {
    max-width: 1280px;
    padding-left: 52px;
    padding-right: 85px;
  }

  .container-services {
    background-image: var(--background-gradient),
      url('../images/about-hotel/dooh-bg-desktop.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and(min-resolution: 192dpi) and (min-width: 1280px),
  screen and(min-resolution: 2dppx) and (min-width: 1280px) {
    .container-services {
      background-image: var(--background-gradient),
        url('../images/about-hotel/dooh-bg-desktop@2x.jpg');
    }
  }

  .hotel-text-content {
    margin-left: 295px;
    /* 347-52=295 */
    max-width: 595px;
  }

  .hotel-text {
    font-size: 20px;
    line-height: 24px;
  }

  /* .hotel-slider-img {
       width: 875px;
    } */

  .service-img-list {
    /* flex-direction: row-reverse; */
    column-gap: 86px;
    margin-left: 37px;
    margin-bottom: 24px;
  }

  .hotel-btn-slider {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hotel-slider-max {
    width: 1143px;
    margin: 0;
  }

  .container-services .button-black {
    background-color: transparent;
  }

  .container-services .button-black:hover,
  .container-services .button-black:focus {
    background-color: #ffffff;
  }

  /* .service-btn{
      max-width: 236px;
    } */

}