/* приховати код *//*

.visually-hidden 

*//*--buttons--*//*--buttons--*//*

.button-black
.button-transparent
.button-big
.button-big-pointed 

*//*--buttons--*//*--buttons--*/

span.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  font-size: 14px;
  background-color: var(--color-text-button);
 }