/* приховати код *//*

.visually-hidden 

*//*--buttons--*//*--buttons--*//*

.button-black
.button-transparent
.button-big
.button-big-pointed 

*//*--buttons--*//*--buttons--*/

/* MENU */
.container.menu {
  padding: 32px 15px;
}
  .menu-caption {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    color: #000000;
    margin-bottom: 32px;
  }
  
  .caption {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
    text-align: left;
    margin-bottom: 16px;
    margin-top: 16px;
  }
 .caption.special
 {
 margin-top:0px;
 }
  .menu-height{
   padding: 20px 30px;
  }
  .menu-name {
    padding-top: 8px;
    min-width: 225px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .menu-name-basic {
    padding-top: 8px;
    min-width: 225px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .menu-name-basic.menu-notop
  {
    padding-top: 0px;
  }
  .menu-table {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .menu-ingridient {
    padding-top:  4px;
    width: 220px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .menu-name.menu-notop
  {
    padding-top: 0px;
  }
  .menu-name.menu-nobottom {
    padding-bottom: 0px;
  }
  .menu-weight {
    min-width: 69px;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: #000000;
  }
  
  .menu-price {
    min-width: 64px;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
  }
  
  .menu-button.button-black {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  @media screen and (min-width: 1024px) {
   
    /* MENU */
    .container.menu {
        min-width: 1024px;
        padding: 58px 47px 40px 47px;
    }
  
    .restaurant-position {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 88px;
    }
    .menu-right {
      width: calc((100% - 88px) / 2);
    }
    .menu-caption {
      margin-bottom: 40px;
    }
    .caption.special
 {
 margin-top:0px;
 }
 .caption.second
 {
 margin-top:0px;
 }
    .menu-name {
      width: 225px;
    }
    .menu-button.button-black {
      margin-top: 40px;
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1280px) {
   
      /* MENU */
      .container.menu {
        min-width: 1280px;
        padding: 58px 85px 60px 85px;
    }
      .restaurant-position {
        column-gap: 140px;
      }
   
      
      .menu-right {
        width: calc((100% - 140px) / 2);
      }
   
      .caption {
        font-size: 24px;
        line-height: 1.17;
      }
    
      .menu-ingridient {
        min-width: 260px;
      }
      .menu-name {
        padding-top: 12px;
        width: 293px;
        font-size: 16px;
        line-height: 1.25;
      }
      .menu-name-basic {
        width: 293px;
        font-size: 16px;
        line-height: 1.25;
      }
      
    }