.backdrop {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transition: var(--transition-default);

}

.backdrop.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal-rp{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 414px;
height: 572px;
padding: 15px;
background-color: var(--back-color-criam);
transition: var(--transition-default);

 }

.modal-rb-header {
margin-top: 45px;
margin-bottom: 40px;
text-align: center;
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #000000;

}

.modal-rp-close {
position: absolute;
width: 24px;
height: 24px;
left: 374px;
top: 16px;
display: block;
justify-content: center;
align-items: center;
color: var(--back-color-footer);
background-color: var(--back-color-criam);
border: 1.5px solid transparent;
padding: 0;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;

}

.modal-rp-text {
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #808080;
margin-bottom: 28px;
}

.modal-rb-label{
font-family: 'Montserrat';
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: #C79002;
}

.button-submit{
box-sizing: border-box;
position: absolute;
width: 384px;
height: 64px;
left: 15px;
top: 448px;
background: #000000;
border: 1px solid #F3C653;
border-radius: 2px;
color: #fff;

font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.modal-rb-imput {
box-sizing: border-box;  
width: 384px;
height: 54px;
padding: 13px;
border: 1px solid #C79002;
background-color: transparent;
margin-top: 20px;
margin-bottom: 8px;
font-family: 'Times New Roman';
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #808080;
}

.modal-rb-imput::placeholder {
font-family: 'Times New Roman';
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #808080;
}


@media screen and (min-width:1024px){
.modal-rp{
width: 712px;
height: 489px;
padding: 60px;
}
  
.modal-rb-header{
font-size: 32px;
line-height: 1.15;
margin-top: 0;
}

.modal-rp-close{
left: 672px;
top: 16px;
}

.modal-rb-imput{
width: 288px;
height: 64px;
}

.button-submit{
width: 592px;
height: 64px;
left: 60px;
top: 365px;
font-size: 24px;


}

.modal-rb-flex{
    display: flex;
    column-gap: 16px;
}

}
