:root {
  --color-text: #7A7A7A;
  --color-text-button: #F3C653;

  --color-text-link: #C79002;

  --color-button: rgba(0, 0, 0, 0.4);
  --color-button-hover: #FFFFFF;

  --back-color-footer: #0E0C07;
  --back-color-criam: #FFFDEE;
  --back-color-criam-dark: #F0ECD6;
  --background-gradient: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.75)
  );
  --transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Film P3', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--back-color-criam);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul, li, a, p {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button, link {
  cursor: pointer;
}

/* приховати код */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--back-color-criam);
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 414px;
}


@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 47px;
  }
  
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 85px;
  }
}