/* приховати код *//*

.visually-hidden 

*//*--buttons--*//*--buttons--*//*

.button-black
.button-transparent
.button-big
.button-big-pointed 

*//*--buttons--*//*--buttons--*/
.roomd {
    background-color: #FFFDEE;
    padding-top: 48px;
    padding-bottom: 48px;
}

.roomd-description {
    display: flex;
}

.roomd-first {
    display: flex;
}

.roomd-second {
    display: flex;
}

.roomd-title {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    color: #000000;
}

.roomd-subtitle {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: #000000;
}

.roomd-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

/* Кнопка й силка */

.roomd-btn {
    
}
