:root {
  --color-text: #7A7A7A;
  --color-text-button: #F3C653;

  --color-text-link: #C79002;

  --color-button: rgba(0, 0, 0, 0.4);
  --color-button-hover: #FFFFFF;

  --back-color-footer: #0E0C07;
  --back-color-criam: #FFFDEE;
  --back-color-criam-dark: #F0ECD6;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul, li, a, p {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button, link {
  cursor: pointer;
}

/* приховати код */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---*//*---*//*---*//*---*//*---*//*---*//*---*//*---*//*---*//*---*//*---*/


@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {

}